{% load static %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg mb-3" style="background-color: #000300;">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {% if navbar == 'home' %} active {% endif %}" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if navbar == 'category' %} active {% endif %}" href="/category">Category</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if navbar == 'wish' %} active {% endif %}"href="/wish">Wish</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Keranjang
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/Vbrg">Sepatu</a></li>
            <li><a class="dropdown-item" href="/tampil_pakaian">Pakaian</a></li>
            <li><a class="dropdown-item" href="/tampil_kaoskaki">KaosKaki</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if navbar == 'tambah_barang' %} active {% endif %}"href="/tambah_barang">Tambah Barang</a>
        </li>
      </ul>
      {% comment %} <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light" type="submit">Search</button>
      </form> {% endcomment %}
    </div>
  </div>
</nav>
<!-- Navbar -->
