{% extends 'base.html' %}
{% block konten %}

<section id="form">
<div class="container">
    <div class="row">
        <div class="col-md-2">
            {% for message in messages %}
                {% if message %}
                    <div class="alert alert-succes">{{ message }}</div>
                {% endif %}
            {% endfor %}
            <form action="" method="post">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit" class="btn btn-primary">Add</button>
                <a href="/Vbrg" class="btn btn-danger">kembali</a>
            </form>
        </div>
    </div>
</div>
</section>

{% endblock %}